.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cuerpoPrincipal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;
}


header{
    grid-area: header;
    background-color: rgb(0, 255, 106);
}

header h1{
    color: red;

}

main{
    grid-area: main;
    background-color: rgb(241, 213, 152);
}
main div p{
    color: rgb(10, 7, 160);
}
main div ul li{
    list-style: none;
}
footer{
    grid-area: footer;
    background-color: rgb(252, 249, 247);
}

footer div p {
    color: yellowgreen;
}