*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.cajaProductos{
    display: flex;
    background-color: bisque;
}

.carritoContainer{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}